h4{
  color: rgb(150, 150, 150);
}

h2{
  margin-left: 20%;
}

.news_title{
display:inline-block;
}

h3{
  display: table;
  margin: 0 auto;
}

#temp{
margin-left: 10%;
}

.forms{
  margin-left: 10%;
  margin-right: 10%;
}

li{
  margin-left: 10%;
}

img{
  display: table;
  margin: 0 auto;
}

#logo{
  margin-left: 20px;
  float: left;
}

.carousel-inner{
display: table;
  margin: 0 auto;
 max-height: 40px;
 max-width: 640px;
}

a{
  color: #4a0000;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.form_ya{
display: table;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}

#spec{
display: table;
  margin: 0 auto;
}

#news{
max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.post{
border: 2px solid black;
  border-radius: 10px;
}

.private_flag{
color: rgb(180, 180, 180);
display:inline-block;
}

.btns{
margin-left: 1%;
margin-bottom: 1%;
}

#work_logs{
max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#spec2{
margin-left: 10%;
}